.main {
  width: 100%;
}

/* HERO */

.hero-image-container {
  background: black;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 380px !important;
}

.hero-image {
  position: absolute;
  background-image: url('../../assets/hero.png');
  background-position-x: -300px;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  opacity: 0.78;
  width: 100%;
  min-height: 380px !important;
  width: 1441px;
}

.main h2 {
  color: white;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 40px;
  margin-bottom: 80px;
  text-shadow: 0 3px 6px rgba(46, 49, 52, 0.8);
  text-align: center;
  z-index: 1;
  font-family: 'ProximaNova-Light', Arial, sans-serif;
}

.main h2 span {
  display: block;
  opacity: 0;
}

.hero-image-container button.join {
  width: 365px;
  height: 40px;
  max-width: 90vw;
  z-index: 1;
  font-family: 'ProximaNova-Light', Arial, sans-serif;
}

/* ANIMATIONS */

.fade-in {
  animation: fadeInAnimation 1.2s forwards;
  -webkit-animation: fadeInAnimation 1.2s forwards;
}

.fade-in-delay {
  animation: fadeInAnimation 1.2s forwards;
  animation-delay: .7s;
}

.scaleUpAnimation {
  animation: scaleUpAnimation 1.2s forwards;
}

.scaleDownAnimation {
  animation: scaleDownAnimation 1.2s forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scaleUpAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes scaleDownAnimation {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* MEDIA QUERIES */

@media only screen and (min-width: 620px) {
  .review-item {
    width: 440px;
  }
}

@media only screen and (min-width: 1028px) {
  .hero-image {
    background-position-x: 0px;
  }

  .blue-button.join {
    width: 392px;
    height: 56px;
  }

  .main h2 {
    font-size: 72px;
    line-height: 90px;
  }

}