/* HERO */

.hero-image-container {
  background: black;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero-image {
  position: absolute;
  background-image: url('../../assets/hero.png');
  background-position-x: -300px;
  top: 0;
  left: 0;
  opacity: 0.78;
  width: 100%;
}

.main h2 {
  color: white;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 40px;
  margin-bottom: 80px;
  text-shadow: 0 3px 6px rgba(46, 49, 52, 0.8);
  text-align: center;
  z-index: 1;
}

.main h2 span {
  display: block;
}

.hero-image-container button.join {
  width: 365px;
  height: 40px;
  max-width: 90vw;
  z-index: 1;
}

/* REVIEWS */

.reviews {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f4f5f7;
  display: flex;
  overflow-x: hidden;
}

.reviews ul {
  display: flex;
}


.review-item {
  width: 320px;
  height: 184px;
  box-shadow: 0 1px 2px rgba(46, 49, 52, 0.4);
  border-radius: 4px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 20px;
  margin-left: 20px;
  align-items: center;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

.review-arrow {
  position: absolute;
  top: 72px;
  background: none;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  box-shadow: 0 7px 12px rgba(46, 49, 52, 0.3);
  border: 1px solid rgba(244, 245, 247, 0.32);
  background-color: #000c28;
  opacity: 0.8;
  border-radius: 50%;
}

.review-arrow:hover {
  cursor: pointer;
}

.review-arrow.left {
  left: 0;
  margin-left: -10px;
}

.review-arrow.right {
  right: 0;
  margin-right: -10px;
}

.arrow-direction {
  position: absolute;
}

/* VIDEOS */

.videos {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.video-item {
  width: 288px;
  box-shadow: 0 7px 12px rgba(46, 49, 52, 0.3);
  border-radius: 4px;
  background-color: #ffffff;
  margin: 10px;
  position: relative;
}

.video-item .thumbnail {
  width: 288px;
  height: 164px;
}

.video-details {
  display: flex;
  flex-direction: column;
  padding: 15px;
  height: 120px;
}

.video-created-info {
  display: flex;
  margin-bottom: 8px;
}

.video-details h5 {
  width: 220px;
  height: 36px;
  color: #2e3134;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.3px;
  line-height: 18px;
  flex: 1;
  margin: 0;
  margin-right: 15px;
}

.video-details .user-avatar {
  width: 28px;
  height: 28px;
}

.video-stats {
  display: flex;
}

.video-stats li {
  display: flex;
  height: 12px;
  color: #2e3134;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.3px;
  line-height: 12px;
  text-transform: uppercase;
  margin-right: 10px;
  margin-bottom: 10px;
}

.video-stat-icon {
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

.video-details-link {
  height: 16px;
  color: #0069d2;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 16px;
  text-transform: uppercase;
}

.playlist-info {
  position: absolute;
  top: 0;
  right: 0;
  width: 112px;
  height: 164px;
  background-color: rgba(0, 12, 40, 0.54);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playlist-info * {
  margin: 5px;
}

.playlist-info .playlist-count {
  width: 17px;
  height: 30px;
  color: #ffffff;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 30px;
}

.playlist-info .playlist-count-type {
  width: 59px;
  height: 12px;
  color: #ffffff;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.3px;
  line-height: 12px;
  text-transform: uppercase;
}

.playlist-info .view-playlist {
  width: 18px;
  height: 18px;
}

/* EQUIPMENT */

.equipment {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.equipment h3 {
  opacity: 0.8;
  color: #34383c;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.3px;
  line-height: 28px;
  text-align: center;
  padding: 25px 20px;
}

.equipment-item {
  height: 330px;
  width: 330px;
  box-shadow: 0 1px 2px rgba(46, 49, 52, 0.4);
  border-radius: 4px;
  background-color: #ffffff;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.equipment-item img {
  width: 181px;
  height: 228px;
}

.equipment-item span {
  width: 184px;
  height: 28px;
  opacity: 0.8;
  color: #2e3134;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.3px;
  line-height: 28px;
  margin-top: 10px;
}