.footer {
  background-color: #2e3134;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
}

.footer-section {
  padding: 20px;
}

.footer-section:not(:last-of-type) {
  border-bottom: 2px solid #585a5d;
}