.footer {
  background-color: #2e3134;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footer-section {
  padding: 20px;
}

.footer-section:not(:last-of-type) {
  border-bottom: 2px solid #585a5d;
}

.footer-title {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 16px;
}

.footer-list {
  display: flex;
  flex-direction: column;
}

.footer-list li {
  opacity: 0.8;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.3px;
  line-height: 16px;
  margin-bottom: 13px;
}

.footer-list li a:hover {
  opacity: 1;
}

.social-links {
  display: flex;
  justify-content: space-evenly;
}

.social-link {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background: linear-gradient(135deg, #0069d2 0%, #28e1a5 100%);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link:hover {
  cursor: pointer;
}

.social-link-inside {
  border-radius: 50%;
  height: 36px;
  width: 36px;
  background: #2e3134;
  position: absolute;
  top: 2px;
  left: 2px;
}

.social-link-icon {
  z-index: 1;
  position: relative;
}

.select-container {
  display: flex;
  justify-content: center;
}

.select-container *:hover {
  cursor: pointer;
}

.footer .language-selection {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 16px;
  background: inherit;
  border: none;
  color: white;
  z-index: 1;
}

.footer .select-button {
  background: #2e3134;
  z-index: 2;
  width: 22px;
  height: 22px;
  margin-left: -20px;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .site-info {
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 16px;
}

.footer .site-info li {
  margin-bottom: 10px;
}